body {
    font-family: tahoma, Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(circle at 87.5% 12.5%, #ffffff 0, #cdd4ef 50%, #8595c3 100%);
}
#principal {
    width: 1024px;
    margin: 20px auto;
}
img {
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}
.header-top {
    height: 50px;
    background: #162028;
    position: relative;
}
.logotipo {
    margin: 0px 0 0 0px;
    width: 8%;
}
.header-nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
.header nav ul {
    margin: 0;
    padding: 0;
}
.header-nav li {
    list-style: none;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 5px;
}
.header-nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #425564;
    font-size: 12px;
    letter-spacing: 5px;
    transition: color .3s;
}
.header-nav a:hover {
    color: white;
} 

.portfolio {
    padding: 50px 100px ;
    text-align: center;
}
.portfolio h1 {
    font-size: 36px;
    color: #252525;
}
.portfolio p {
    font-size: 16px;
    line-height: 2;
    color: #555;
}
.galery {
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;

}
.galery-card {
    width: 30%;
    float: left;
    text-align: center;
    background-image: radial-gradient(circle at 87.5% 12.5%, #413c43 0, #342c3b 16.67%, #251b35 33.33%, #11092e 50%, #000029 66.67%, #000024 83.33%, #000021 100%);    border-radius: 20px;
}
.galery-card2 {
    width: 30%;
    float: left;
    text-align: center;
    background-image: radial-gradient(circle at 87.5% 12.5%, #413c43 0, #342c3b 16.67%, #251b35 33.33%, #11092e 50%, #000029 66.67%, #000024 83.33%, #000021 100%);    border-radius: 20px;
}
.galery-card3 {
    width: 30%;
    float: left;
    text-align: center;
    background-image: radial-gradient(circle at 87.5% 12.5%, #413c43 0, #342c3b 16.67%, #251b35 33.33%, #11092e 50%, #000029 66.67%, #000024 83.33%, #000021 100%);    border-radius: 20px;
}

.title-g {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: bold;
}
.about {
    background-color: #003D52;
    padding: 100px;
    color: white;
    background-image: url(imagens/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    border-radius: 20px;
}
.about p {
    line-height: 1.5;
    width: 70%;

}
.about h2 {
    text-transform: uppercase;
    font-size: 50px;
    font-weight: normal;
}
#contact {
    margin: 50px 0;

}
#contact address{
    color: #143f52;
    text-transform: uppercase;
    font-size: 26px;
    font-style: normal;
    text-align: center;
    font-weight: bold;
}
.maps {
    width: 100%;
    height: 450px;
    margin-top: 15px;
}
.maps iframe {
    width: 100%;
}
.rodape {
    background: #0b171f;
    padding: 25px;
    font-size: 12px;
    color: #6f8597;
    text-align: center;
    letter-spacing: 5px;
}